<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="47" android:versionName="1.2.1" package="com.fizmatoriginal" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="23" android:targetSdkVersion="28" />
	<permission android:name="com.fizmatoriginal.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<application android:label="Fizmat Original" android:icon="@mipmap/ic_launcher">
		<!-- Set default notification icon and color. -->
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="com.fizmatoriginal" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="${manifestApplicationId}.permission.C2D_MESSAGE" />
</manifest>